@model Hibaza.CCP.Web.Models.BusinessSettings
@{
    ViewBag.Title = "Business settings";
    Layout = null;
}
    
<form id="form-settings-brand" enctype="multipart/form-data" class="form-white-bg lg-business_settings">
        <div class="form-group-title">
            <h3 lg-your-company-data>Your company data</h3>
        </div>
        <div class="form-group wz-container col-sm-12 col-md-10 col-lg-8">
            <div class="wz-icon-buttons">
                <div class="dropdown wz-margin-l-20 wz-margin-t-15">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="btn btn-full brand">
                            <div class="btn-subhead">
                                <div class="icon-cog"></div>
                            </div>
                            <div style="background-image: url('@(string.IsNullOrWhiteSpace(Model.Data.logo) ? "/brands/hibaza.png" : Model.Data.logo)')" class="wz-agent-avatar"></div>
                        </div>
                    </a>
                    <ul aria-labelledby="dLabel" class="dropdown-menu">
                        <li>
                            <a href="#" class="js-show-edit-avatar"><span class="wz-font-s-md wz-font-w-med lg-edit"> Edit<i class="pull-right icon-image"></i></span></a>
                        </li>
                    </ul>
                </div>
                <div class="wz-file-upload hide">
                    <div class="row">
                        <label class="control-label lg-logo">
                            Logo
                        </label><span class="js-custom-file">
                            <input type='hidden' name='logo' id="id_logo" value="@(Model.Data.logo)" />
                            <input accept="image/*" class="form-control" id="id_image" name="image" type="file">

                            <input type="text" class="wz-cursor-hand form-control" readonly="" placeholder="No file selected">
                            <div class="btn btn-info btn-browse js-browse">
                                <i class="icon-search"></i><span class="lg-browse">Browse</span>
                            </div>
                            <div class="btn btn-info btn-pink btn-upload js-upload hide">
                                <i class="icon-upload"></i><span class="lg-upload">Upload</span>
                            </div>
                        </span>
                        <label for="id_zipcode" class="error alert-danger js-custom-error hide lg-error-try-again">An error ocurred. Please, try again later or contact us.</label>

                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label lg-company-full-name">
                    Company full name
                </label>
                <input class="form-control" id="id_name" name="name" type="text" value="@(Model.Data.name)" required="">


            </div>
            <div class="row">
                <label class="control-label lg-contact-phone">
                    Contact phone
                </label>
                <input class="form-control" id="id_phone" name="phone" type="text" value="@(Model.Data.phone)">


            </div>
            <div class="row">
                <label class="control-label lg-contact-email">
                    Contact email
                </label>
                <input class="form-control" id="id_email" name="email" type="email" value="@(Model.Data.email)">


            </div>
            <div class="row">
                <label class="control-label lg-address">
                    Address
                </label>
                <textarea class="form-control" cols="40" id="id_address" name="address" rows="10">@(Model.Data.address)</textarea>


            </div>
            <div class="row">
                <label class="control-label lg-zip">
                    ZIP
                </label>
                <input class="form-control" id="id_zip" name="zip" type="text" value="@Model.Data.zip">


            </div>
            <div class="row">
                <label class="control-label lg-city">
                    City
                </label>
                <input class="form-control" id="id_city" name="city" type="text" value="@Model.Data.city">


            </div>
            <div class="row">
                <label class="control-label lg-country">
                    Country
                </label>
                <select class="form-control" id="id_country" name="country"  onchange="var e=document.getElementById('flag_' + this.id); if (e) e.src = '/flags/{code}.gif'.replace('{code}', this.value.toLowerCase() || '__').replace('{code_upper}', this.value.toUpperCase() || '__');">
                    <option value="">---------</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AX">Åland Islands</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua and Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                    <option value="BA">Bosnia and Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="CV">Cabo Verde</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo (the Democratic Republic of the)</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Côte d'Ivoire</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CW">Curaçao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands  [Malvinas]</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GG">Guernsey</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard Island and McDonald Islands</option>
                    <option value="VA">Holy See</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IM">Isle of Man</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JE">Jersey</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Laos</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macao</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia (Federated States of)</option>
                    <option value="MD">Moldova</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="ME">Montenegro</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="KP">North Korea</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PS">Palestine, State of</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Réunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russia</option>
                    <option value="RW">Rwanda</option>
                    <option value="BL">Saint Barthélemy</option>
                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="MF">Saint Martin (French part)</option>
                    <option value="PM">Saint Pierre and Miquelon</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome and Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SX">Sint Maarten (Dutch part)</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                    <option value="KR">South Korea</option>
                    <option value="SS">South Sudan</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syria</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania</option>
                    <option value="TH">Thailand</option>
                    <option value="TL">Timor-Leste</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="US" selected="selected">United States of America</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Vietnam</option>
                    <option value="VG">Virgin Islands (British)</option>
                    <option value="VI">Virgin Islands (U.S.)</option>
                    <option value="WF">Wallis and Futuna</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select><img class="country-select-flag" id="flag_id_country" style="margin: 6px 4px 0" src="/flags/us.gif">


            </div>
            <div class="row">
                <label class="control-label lg-autoassign">
                    Autoassign
                </label>
                <div data-icon="icon-magic-wand" data-label="Hibaza will handle the assignation of new chats to your agents according to their current workload." class="js-custom-checkbox wz-checkbox-container">
                     <input @(Model.Data.auto_assign ? "checked" : "") id="id_auto_assign_cb" class="form-control" type="checkbox">
                     <input value="@(Model.Data.auto_assign)" id="id_auto_assign" name="auto_assign" type="hidden">
                </div>

            </div>
            <div class="row">
                <label class="control-label lg-autocreate-tickets">
                    Autocreate Tickets
                </label>

                <div data-icon="icon-magic-wand" data-label="Hibaza will setup tickets for every new chat to simplify its tracking." class="js-custom-checkbox wz-checkbox-container">
                    <input @(Model.Data.auto_ticket ? "checked" : "") class="form-control" id="id_auto_ticket_cb" type="checkbox">
                    <input value="@(Model.Data.auto_ticket)" id="id_auto_ticket" name="auto_ticket" type="hidden">
                </div>

                <div data-icon="icon-magic-wand" data-label="Auto hide comment." class="js-custom-checkbox wz-checkbox-container">
                    <input @(Model.Data.auto_hide ? "checked" : "") class="form-control" id="id_auto_hide_cb" type="checkbox">
                    <input value="@(Model.Data.auto_hide)" id="id_auto_hide" name="auto_hide" type="hidden">
                </div>
                <div data-icon="icon-magic-wand" data-label="Auto like comment." class="js-custom-checkbox wz-checkbox-container">
                    <input @(Model.Data.auto_like ? "checked" : "") class="form-control" id="id_auto_like_cb" type="checkbox">
                    <input value="@(Model.Data.auto_like)" id="id_auto_like" name="auto_like" type="hidden">
                </div>
            </div>
            <div class="form-group">
                <div class="btn btn-save js-brand-submit lg-save">Save</div>
            </div>
        </div>
    </form>
    <script>
/**
* Document onload
*/
        $(function () {
            readFileLang(localStorage.getItem("lang"), "business_settings");
    settingsUI('#form-settings-brand');
    $("#id_country").val("@(Model.Data.country)").change();
    $("#form-settings-brand .js-brand-submit").on("click", function(e){
      $("#form-settings-brand .js-brand-submit").attr('disabled', true);
      $("#id_auto_assign").val($("#id_auto_assign_cb").prop('checked'));
        $("#id_auto_ticket").val($("#id_auto_ticket_cb").prop('checked'));
        $("#id_auto_hide").val($("#id_auto_hide_cb").prop('checked'));
        $("#id_auto_like").val($("#id_auto_like_cb").prop('checked'));
      saveBrand();
  });
  $('#form-settings-brand .js-show-edit-avatar').on("click", function(e){
    $('#form-settings-brand .wz-file-upload').hide().removeClass('hide').fadeToggle(200);
  });

  $("#form-settings-brand .js-upload").on("click", function(e){
    e.preventDefault();
    var $self = $(this);
    $self.parent().parent().find('.js-custom-error').addClass('hide');
    $self.attr('disabled', true);
    cloud.sendForm(
      document.getElementById("form-settings-brand"),
      cloud.getURLs().brands.save_logo + businessID,
      function(data){
        if(data.ok){
          cloud.loadSettingsBrand();
        } else {
          $self.parent().parent().find('.js-custom-error').removeClass('hide');
          $self.attr('disabled', false);
        }
      });
  });
});
    </script>
